<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <tr>
          <th>Id</th>
          <th>Designation</th>
          <th>dateCreation</th>
          <th>Prix (en M.DT)</th>
          <th>couleurs</th>
          <th>disponibilite</th>
          <th>Marque</th>
          <th>Action</th>
        </tr>
        <tbody *ngFor="let voiture of voitures">
          <tr>
            <td>{{ voiture.idVoiture }}</td>
            <td>{{ voiture.designation }}</td>
            <td>{{ voiture.dateCreation | date: "dd/MM/yyyy" }}</td>
            <td>{{ voiture.prixVoiture }}</td>
            <td>{{ voiture.couleurs }}</td>
            <td>{{ voiture.disponibilite }}</td>
            <td>{{ voiture.marque.nomMarque }}</td>
            <td>
              <a class="btn btn-danger" (click)="supprimerVoiture(voiture)"
                >Supprimer</a
              >
            </td>
            <td>
              <a
                class="btn btn-info"
                [routerLink]="['/updateVoiture', voiture.idVoiture]"
                >Modifier</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
